<html>
  <head>
    <title>Contact Austen</title>
  </head>
  <body>
    <div>
      <form action='/thanks' method='POST'>
        <label for='firstName'>First Name</label>
        <input id='firstName' name='firstName' type='text'>

        <label for='lastName'>Last Name</label>
        <input id='lastName' name='lastName' typte ='text'>

        <input type='submit'/>
      </form>
    </div>
  </body>
</html>