<!DOCTYPE html>
<html lang='en'>
  <head>
    <% include ./parts/head.ejs %>
  </head>
  <body id='page-top'>

    <div>
      <% include ./parts/navigation.ejs %>
    </div>
    <!-- Contact -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center text-white">
        <h1 class="mx-auto my-0 text-uppercase">Contact Austen</h1>
        <form action='/thanks' method='POST'>
          <label for='firstName'>First Name:</label>
          <input id='firstName' name='firstName' type='text'>
  
          <label for='lastName'>Last Name:</label>
          <input id='lastName' name='lastName' typte ='text'>
  
          <label for='email'> Email:</label>
          <input id='email' name='email' type='text'>
  
          <input type='submit'/>
        </form>
      </div>
    </div>
  </header>
  <footer>
      <% include ./parts/footer.ejs %>
  </footer>
</html> 
