<html>
  <head>
    
    <title> Austen's Portfolio </title>
   
  </head>
  <body>
    <header>
       <% include header.ejs %>
    </header>
    <div>
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
  </body>
  <footer>
    <% include footer.ejs %>
  </footer>
</html>