<!DOCTYPE html>
<html lang='en'>

  <head>
    <% include ./parts/head.ejs %>
  </head>
  <body id='page-top'>

    <div>
      <% include ./parts/navigation.ejs %>
    </div>
    <!-- Thanks -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Thank you <%= contact.firstName %> <%= contact.lastName %>!</h1>
      </div>
    </div>
  </header>
  <footer>
      <% include ./parts/footer.ejs %>
  </footer>
</html>
