<!-- Footer -->
<div class="social d-flex justify-content-center">
  <!-- <a href="#" class="mx-2">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#" class="mx-2">
    <i class="fab fa-facebook-f"></i> -->
  </a>
  <a href="https://github.com/austene" class="mx-2">
    <i class="fab fa-github"></i>
  </a>
</div>

<p class="bg-black small text-center text-white-50 container">
  Copyright &copy; Austen Eames - Web Developer 2019
</p>

